@font-face {
  font-family: Monocraft;
  src: url(fonts/Monocraft.ttf);
}

body {
    background-color: #000000;
    font-family: "Monocraft";
    text-align: center;
    color: #cdd6f4;
}

.arrow {
    filter: invert(1);
    width: 50px;
}

.pfp {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid #ccc;
}

#span {
  font-size: 22px;
}

#hi {
  color: #ffc0cb;
}

.blinkie {
   margin-left: 15px;
   width: 88px;
   height: 31px;
}