body {
    background-color: #1e1e2e;
    text-align: center;
    justify-content: center;
    color: #cdd6f4;
}

h1 {
    font-family: system-ui;
}

h2,h3,h4,h5,h6,a,p {
   font-family: system-ui;
}

nav {
  align-content: center;
}

.arrow {
    filter: invert(1);
    width: 50px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid #ccc;
}

#span {
  font-size: 22px;
}

#hi {
  color: #cba6f7;
}

.blinkie {
   margin-left: 15px;
}